html,body{
    width:100%;height:100%;
    overflow: hidden;
}
.container-fluid{
    height:100%;
}
.row{
    height:100%;
}
.left{
    height:100%;
    border-right: 1px solid #000;
    position: relative;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    color:white;
}
.right{
    height:100%;
}
.search{
    margin-top: 20px;
}
.done{
	width: 100%;
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	border-bottom:1px solid #fff ;
}
.nums{
	float: right;
    color:red;
}
.title{
	margin-top: 10px;
	height: 40px;
}
.title span{
	float: left;
	line-height: 30px;
}
.list{
	line-height: 25px;
    position: relative;
}
.list input{
	background: none;
    border:none;
}
.rightadd{
	color: forestgreen;
}
.list span{
    position: absolute;
    right:10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear;
}
.list:hover span{
    visibility: visible;
  opacity: 1;
}
.add{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
}
.addOpt{
    cursor: pointer;
}
.header{
    width:100%;height:10%;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doneFont{
	cursor: pointer;
}
.doneBtn{
    position: absolute;
    left:0; top:9px;
    float: left;
    cursor: pointer;
}
.doneBtn:hover{
	color: forestgreen;
}
.optBox{
    margin-top: 10px;
}
.opt{
    width:100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
    line-height: 40px;
}
 input:focus{
   outline: none;
}
.opt input{
    width:80%;margin-left:20px;
    border:none;
    float: left;
    margin-top: -5px;

}
.removeOpt{
    position: absolute;
    right:0;top:6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease;
}
.opt:hover .removeOpt{
    visibility: visible;
    opacity: 1;
}

