html,body{
    width:100%;height:100%;
    overflow: hidden;
}
.container-fluid{
    height:100%;
}
.row{
    height:100%;
}
.left{
    height:100%;
    border-right: 1px solid #000;
    position: relative;
}
.right{
    height:100%;
}
.search{
    margin-top: 20px;
}
.nums{
    color:red;
}
.list{
    position: relative;
}
.list input{
    border:none;
}
.list span{
    position: absolute;
    right:10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear;
}
.list:hover span{
    visibility: visible;
  opacity: 1;
}
.add{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
}
.addOpt{
    cursor: pointer;
}
.header{
    width:100%;height:10%;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doneBtn{
    border-radius: 50%;
    width:10px;height:10px;
    border:1px solid #000;
    position: absolute;
    left:0; top:6px;
}
.optBox{
    margin-top: 10px;
}
.opt{
    width:100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
}
 input:focus{
   outline: none;
}

.opt input{
   width:80%;margin-left:20px;
    border:none;
}
.removeOpt{
    position: absolute;
    right:0;top:6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease;
}
.opt:hover .removeOpt{
    visibility: visible;
    opacity: 1;
}

