<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>待办事项</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/filter.css">
    <script src="js/angular.min.js"></script>
    <script src="js/filter.js"></script>
</head>

<body>
<div class="container-fluid" ng-app="myapp" ng-controller="ctrl">
<h2>备忘录</h2>
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-5 left">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <input  type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="搜索" ng-model="search">
        </div>
       <div class="hang">
           <span class="glyphicon glyphicon-th"></span>
           <span ng-click="showdone()">完成事项</span>
           <span class="nums red">{{done.length}}</span>
       </div>
        <div class="hang">
            <span class="glyphicon glyphicon-th-list"></span>
            <span>待办事项</span>
        </div>
        <div class="list" ng-repeat="item in data | filter:{title:search} track by item.id " ng-click="showCon()">
            <input type="text" value="新建事项" ng-model="item.title" ng-focus="focus(item.id)" ng-blur="blur(item.id)">
            <span class="glyphicon glyphicon-trash"  ng-click="removeList(item.id)"></span>
        </div>
       <div class="add" ng-click="add()">
           <span class="glyphicon glyphicon-plus"></span>
           <span>添加事项</span>
       </div>
    </div>




    <div class="col-md-9 col-sm-8 col-xs-7 right" ng-show="isshow==true">
        <div class="rightlist">
            <div class="title">
                {{currentCon.title}}
            </div>
            <div class="rightadd">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="addOpt" ng-click="addOpt()">添加条目</span>
            </div>

            <div class="optBox">
                <div class="opt" ng-repeat="item in currentCon.son track by item.id">
                    <div class="opticon" ng-click="doneFun(item.id)">
                    </div>

                    <input type="text" ng-model="item.title" ng-blur="blur()">
                    <div class="removeOpt glyphicon glyphicon-trash" ng-click="delOpt(item.id)"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="right col-xs-7 col-sm-8 col-md-9" ng-show="isshow==false">
        <div class="rightlist">
            <div class="title">
                完成列表
            </div>
        </div>
        <div class="optBox">
            <div class="opt opt2" ng-repeat="item in done track by item.id">
                <input type="text" ng-model="item.title" ng-blur="blur()">
                <div class="removeOpt glyphicon glyphicon-trash" ng-click="removeDone(item.id)"></div>
            </div>
        </div>

    </div>


</div>
</div>
</body>
<script>
    /**
//    H5本地存储   localStorage
//   1、存储数据
//   2、获取值
//   3、修改值
//   4、删除值
    localStorage.setItem("num",20);
    localStorage.removeItem("num");    //删除某一条
    localStorage.clear();
    console.log(localStorage.getItem("num"));
    console.log(localStorage.num);

    var info=[{name:"zhangsan"},{name:"lisi"}];
    localStorage.info=JSON.stringify(info);        //用json变成一个字符串
    console.log(JSON.parse(localStorage.info)[0].name);  //用json将字符串取出
**/










</script>
</html>