html,body{
    width: 100%;height: 100%;overflow: hidden;
}
.container-fluid{
    height: 100%;
}
.row{
    width: 100%;
    height: 100%;
}
.left{
    height: 100%;
    border-right: 1px solid #5e5e5e;
    position: relative;
}
.form-control{
    margin-top: 25px;
}
.right{
    height: 100%;
    border-left: 1px solid #5e5e5e;
}
.add{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
}
.header{
    width: 100%;height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5e5e5e;
    position: relative;
}
.addList{
    font-size: 26px;
    color: #555555;
}
.Ftext{
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}
.Icondown{
    right: 10px;bottom: 5px;
    font-size: 16px;
    color: #666;
}
.dingwei{
    height: 50px;
    border-bottom: 1px solid #8c8c8c;
    line-height: 50px;
    cursor:pointer
}
.add{
    position: absolute;
    right: 10px;
    bottom:10px;
    cursor:pointer
}
.shixiang{
    position: relative;
}
.Del{
    position: absolute;
    right: 10px;top: 10px;
    opacity: 0;
    transition: 1s;
}

.shixiang:hover .Del{
    opacity: 1;
}
.Dell{
    position: absolute;
    right: 40px;top: 10px;
    opacity: 0;
    transition: 1s;
}

.shixiang:hover .Dell{
    opacity: 1;
}
.tm{
    position: absolute;
    right: 15px;
    bottom: 5px;
    cursor:pointer
}
.rights{
    padding:15px 20px;
}

.title{
    font-size: 26px;
    color: #8c8c8c;
    margin: 10px 10px;
}
