*{
    margin:0;
    padding:0;
    list-style: none;
}
html,body{
    width: 100%;height: 100%;
}
.container-fluid{
    width:100%;
    height:100%;
}
.container-fluid>.row{
    height:100%;
}
.left,.right{
    height:100%;
    padding: 15px 20px;
}

/*å·¦è¾¹å¼€å§‹*/
.left_box{
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}
.right{
    border-left:1px solid #000;
}
.evlist>li>input{
    margin-left:10px;
    width: 85%;
    border:0;
}
.evlist>li>span{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease;
}
.evlist>li:hover>span{
    visibility: visible;
    opacity:1;
}


/*å³è¾¹å¼€å§‹*/
.right_box{
    padding: 16px 0;
    width: 85%;
    margin: 0 auto;
}
.title{
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    position: relative;
}
.title>div:first-child{
    float: left;
    font-size: 24px;
}
.title>div:last-child{
    float: right;
    position: absolute;
    right:0;bottom: 0;
    font-size: 18px;
}
.tiaomu{
    width: 95%;
    margin:20px auto;
}
.tiaomu>ul>li{
    margin: 10px 0;
}
.tiaomu>ul>li>input{
    margin-left:10px;
    width: 85%;
    border:0;
}
.tiaomu>ul>li>span{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease;
}
.tiaomu>ul>li:hover>span{
    visibility: visible;
    opacity:1;
}


.title_wancheng{
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    position: relative;
}
.title_wancheng>div:first-child{
    float: left;
    font-size: 24px;
}
.delwancheng{
    float: right;
}
.newev{
    position: absolute;
    bottom: 10px;
}